.container {
  min-height: 100vh;
  padding: 0px 20px 0px;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  display: flex;
  text-align: center;
}

.numbers {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  margin: 5px;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #9ecbff;
  border-radius: 5px;
  border: 2px solid;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 2rem;
}
